extends layout

block content
  .container
    h1 Prueba De Concepto De Blockchain
    p
      | Esta es una prueba de concepto de blockchain en el navegador. 
      | No se envía nada al servidor, todo se hace en el navegador.
    p
